workflows/AIRDEE.json
{
  "name": "AIRDEE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "308bd5e8-fa9a-4ba0-b0c2-7b6997793aeb",
      "name": "Chat UI webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "0e361650-fbdc-493a-82ea-1081b0fc552b"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * Validate Request — Europe/Amsterdam tijdsparser met UTC-output\n * In:  body.question (string), optioneel: body.timeRange | body.daterange | body.range\n *      Optioneel: body.fromISO / body.toISO (overrides), body.forceNewest (bool)\n * Out: question, fromISO, toISO, _timeRangeParsed (label), forceNewest, sourcePref, authorHint\n *\n * Extra gedrag:\n * - Detecteert auteur in NL-vragen (“door/van/auteur <Naam>”) → sourcePref='td'\n * - “meest recente / laatste / recentste” zet forceNewest=true (behoudt meegegeven body.forceNewest)\n * - Robuuste NL-tijdsfrasen (“afgelopen week”, “deze maand”, “tussen A en B”, datumformaten, …)\n * - Tijdvenster: [fromISO, toISO) in UTC. Corrigeert from>=to.\n */\n\nconst TZ = 'Europe/Amsterdam';\n\n// --------------------- Helpers: TZ en daggrenzen ---------------------\nconst toIsoUtc = (d) => new Date(d.getTime()).toISOString();\n\nfunction startOfDayInTzUTC(d = new Date(), tz = TZ) {\n  const local = new Date(d.toLocaleString('en-US', { timeZone: tz }));\n  local.setHours(0, 0, 0, 0);\n  return new Date(local.toLocaleString('en-US', { timeZone: 'UTC' }));\n}\n\nfunction addDaysInTzUTC(dayStartUTC, n, tz = TZ) {\n  const local = new Date(dayStartUTC.toLocaleString('en-US', { timeZone: tz }));\n  local.setDate(local.getDate() + n);\n  local.setHours(0, 0, 0, 0);\n  return new Date(local.toLocaleString('en-US', { timeZone: 'UTC' }));\n}\n\nfunction startOfWeekInTzUTC(d = new Date(), tz = TZ) {\n  const local = new Date(d.toLocaleString('en-US', { timeZone: tz }));\n  local.setHours(0, 0, 0, 0);\n  const weekday = local.getDay(); // 0=zo..6=za\n  const offset = (weekday + 6) % 7; // ma=0\n  local.setDate(local.getDate() - offset);\n  return new Date(local.toLocaleString('en-US', { timeZone: 'UTC' }));\n}\n\nfunction startOfMonthInTzUTC(d = new Date(), tz = TZ) {\n  const local = new Date(d.toLocaleString('en-US', { timeZone: tz }));\n  local.setFullYear(local.getFullYear(), local.getMonth(), 1);\n  local.setHours(0, 0, 0, 0);\n  return new Date(local.toLocaleString('en-US', { timeZone: 'UTC' }));\n}\n\nfunction startOfYearInTzUTC(d = new Date(), tz = TZ) {\n  const local = new Date(d.toLocaleString('en-US', { timeZone: tz }));\n  local.setFullYear(local.getFullYear(), 0, 1);\n  local.setHours(0, 0, 0, 0);\n  return new Date(local.toLocaleString('en-US', { timeZone: 'UTC' }));\n}\n\n// --------------------- Datum parsing (NL) ---------------------\nconst MONTHS = {\n  januari: 0, februari: 1, maart: 2, april: 3, mei: 4, juni: 5,\n  juli: 6, augustus: 7, september: 8, oktober: 9, november: 10, december: 11,\n};\n\n/**\n * Parse \"dd-mm(-yyyy)\" | \"dd/mm(/yyyy)\" | \"dd <maand> (yyyy)\" | ISO\n * → UTC instant van lokale dagstart in TZ (of null)\n */\nfunction parseLooseDateToTzStartUTC(s, defaultYear, tz = TZ) {\n  if (!s) return null;\n  s = String(s).trim().toLowerCase();\n\n  // dd-mm(-yyyy) | dd/mm(/yyyy) | dd.mm(.yyyy)\n  let m = s.match(/^(\\d{1,2})[.\\-\\/ ](\\d{1,2})(?:[.\\-\\/ ](\\d{2,4}))?$/);\n  if (m) {\n    const d = +m[1], mo = +m[2], y = m[3] ? +m[3] : defaultYear;\n    const yyyy = y < 100 ? 2000 + y : y;\n    const local = new Date(new Date().toLocaleString('en-US', { timeZone: tz }));\n    local.setFullYear(yyyy, mo - 1, d);\n    local.setHours(0, 0, 0, 0);\n    return new Date(local.toLocaleString('en-US', { timeZone: 'UTC' }));\n  }\n\n  // dd <maand> (yyyy)\n  m = s.match(/^(\\d{1,2})[ ]([a-z]+)\\.?(?:[ ](\\d{2,4}))?$/i);\n  if (m) {\n    const d = +m[1];\n    const monName = m[2].replace(/\\.$/, '');\n    const mo = MONTHS[monName];\n    if (mo !== undefined) {\n      const y = m[3] ? +m[3] : defaultYear;\n      const yyyy = y < 100 ? 2000 + y : y;\n      const local = new Date(new Date().toLocaleString('en-US', { timeZone: tz }));\n      local.setFullYear(yyyy, mo, d);\n      local.setHours(0, 0, 0, 0);\n      return new Date(local.toLocaleString('en-US', { timeZone: 'UTC' }));\n    }\n  }\n\n  // ISO fallback → neem kalenderdag in TZ\n  const iso = new Date(s);\n  if (!isNaN(iso.getTime())) {\n    const local = new Date(iso.toLocaleString('en-US', { timeZone: tz }));\n    local.setHours(0, 0, 0, 0);\n    return new Date(local.toLocaleString('en-US', { timeZone: 'UTC' }));\n  }\n\n  return null;\n}\n\n// --------------------- Tijdsrange parser (NL) ---------------------\nfunction parseTimeRangeNL(input, questionText) {\n  const src = (input || questionText || '').trim();\n  if (!src) return { fromISO: null, toISO: null, label: null };\n\n  const s = src.toLowerCase();\n  const now = new Date();\n  const todayUTC = startOfDayInTzUTC(now);\n  const tomorrowUTC = addDaysInTzUTC(todayUTC, 1);\n\n  // vandaag / gisteren / eergisteren\n  if (/\\bvandaag\\b/.test(s)) {\n    return { fromISO: toIsoUtc(todayUTC), toISO: toIsoUtc(tomorrowUTC), label: 'vandaag' };\n  }\n  if (/\\bgisteren\\b/.test(s)) {\n    const yUTC = addDaysInTzUTC(todayUTC, -1);\n    return { fromISO: toIsoUtc(yUTC), toISO: toIsoUtc(todayUTC), label: 'gisteren' };\n  }\n  if (/\\beergisteren\\b/.test(s)) {\n    const d2UTC = addDaysInTzUTC(todayUTC, -2);\n    const d1UTC = addDaysInTzUTC(todayUTC, -1);\n    return { fromISO: toIsoUtc(d2UTC), toISO: toIsoUtc(d1UTC), label: 'eergisteren' };\n  }\n\n  // “afgelopen twee weken”\n  if (/(afgelopen|laatste)\\s*(twee|2)\\s*weken?\\b/.test(s)) {\n    const from = addDaysInTzUTC(todayUTC, -14);\n    return { fromISO: toIsoUtc(from), toISO: toIsoUtc(tomorrowUTC), label: 'afgelopen twee weken' };\n  }\n\n  // “afgelopen N dagen/weken/maanden/jaar”\n  let m = s.match(/(afgelopen|laatste)\\s*(\\d{1,3})\\s*(dagen?|weken?|maanden?|jaar)\\b/);\n  if (m) {\n    const n = +m[2];\n    const unit = m[3];\n    let fromUTC = todayUTC;\n\n    if (/dag/.test(unit)) {\n      fromUTC = addDaysInTzUTC(todayUTC, -n);\n    } else if (/week/.test(unit)) {\n      fromUTC = addDaysInTzUTC(todayUTC, -7 * n);\n    } else if (/maand/.test(unit)) {\n      const localNow = new Date(now.toLocaleString('en-US', { timeZone: TZ }));\n      localNow.setMonth(localNow.getMonth() - n, 1);\n      localNow.setHours(0, 0, 0, 0);\n      fromUTC = new Date(localNow.toLocaleString('en-US', { timeZone: 'UTC' }));\n    } else if (/jaar/.test(unit)) {\n      const localNow = new Date(now.toLocaleString('en-US', { timeZone: TZ }));\n      localNow.setFullYear(localNow.getFullYear() - n, 0, 1);\n      localNow.setHours(0, 0, 0, 0);\n      fromUTC = new Date(localNow.toLocaleString('en-US', { timeZone: 'UTC' }));\n    }\n\n    return { fromISO: toIsoUtc(fromUTC), toISO: toIsoUtc(tomorrowUTC), label: `afgelopen ${n} ${unit}` };\n  }\n\n  // “vorige week”\n  if (/\\b(vorige|afgelopen)\\s+week\\b/.test(s)) {\n    const startThisWeekUTC = startOfWeekInTzUTC(now);\n    const startPrevWeekUTC = addDaysInTzUTC(startThisWeekUTC, -7);\n    return { fromISO: toIsoUtc(startPrevWeekUTC), toISO: toIsoUtc(startThisWeekUTC), label: 'vorige week' };\n  }\n\n  // “deze week”\n  if (/\\bdeze\\s+week\\b/.test(s)) {\n    const startThisWeekUTC = startOfWeekInTzUTC(now);\n    return { fromISO: toIsoUtc(startThisWeekUTC), toISO: toIsoUtc(tomorrowUTC), label: 'deze week' };\n  }\n\n  // “vorige maand”\n  if (/\\b(vorige|afgelopen)\\s+maand\\b/.test(s)) {\n    const firstThisUTC = startOfMonthInTzUTC(now);\n    const localThis = new Date(firstThisUTC.toLocaleString('en-US', { timeZone: TZ }));\n    localThis.setMonth(localThis.getMonth() - 1, 1);\n    localThis.setHours(0, 0, 0, 0);\n    const firstPrevUTC = new Date(localThis.toLocaleString('en-US', { timeZone: 'UTC' }));\n    return { fromISO: toIsoUtc(firstPrevUTC), toISO: toIsoUtc(firstThisUTC), label: 'vorige maand' };\n  }\n\n  // “deze maand”\n  if (/\\bdeze\\s+maand\\b/.test(s)) {\n    const firstThisUTC = startOfMonthInTzUTC(now);\n    return { fromISO: toIsoUtc(firstThisUTC), toISO: toIsoUtc(addDaysInTzUTC(startOfDayInTzUTC(now), 1)), label: 'deze maand' };\n  }\n\n  // “vorig jaar”\n  if (/\\b(vorig|afgelopen)\\s+jaar\\b/.test(s)) {\n    const firstThisYearUTC = startOfYearInTzUTC(now);\n    const localThis = new Date(firstThisYearUTC.toLocaleString('en-US', { timeZone: TZ }));\n    localThis.setFullYear(localThis.getFullYear() - 1, 0, 1);\n    localThis.setHours(0, 0, 0, 0);\n    const firstPrevYearUTC = new Date(localThis.toLocaleString('en-US', { timeZone: 'UTC' }));\n    return { fromISO: toIsoUtc(firstPrevYearUTC), toISO: toIsoUtc(firstThisYearUTC), label: 'vorig jaar' };\n  }\n\n  // “dit jaar”\n  if (/\\bdit\\s+jaar\\b/.test(s)) {\n    const firstThisYearUTC = startOfYearInTzUTC(now);\n    return { fromISO: toIsoUtc(firstThisYearUTC), toISO: toIsoUtc(addDaysInTzUTC(startOfDayInTzUTC(now), 1)), label: 'dit jaar' };\n  }\n\n  // “A t/m B” (inclusief B → tot B+1 dag 00:00)\n  let m2 = s.match(/(.+?)\\s*t\\/m\\s*(.+)$/i);\n  if (m2) {\n    const a = parseLooseDateToTzStartUTC(m2[1], now.getFullYear(), TZ);\n    const b = parseLooseDateToTzStartUTC(m2[2], now.getFullYear(), TZ);\n    if (a && b) return { fromISO: toIsoUtc(a), toISO: toIsoUtc(addDaysInTzUTC(b, 1)), label: 'custom range' };\n  }\n\n  // “tussen A en B” (inclusief B → tot B+1)\n  m2 = s.match(/tussen\\s+(.+?)\\s+en\\s+(.+)$/i);\n  if (m2) {\n    const a = parseLooseDateToTzStartUTC(m2[1], now.getFullYear(), TZ);\n    const b = parseLooseDateToTzStartUTC(m2[2], now.getFullYear(), TZ);\n    if (a && b) return { fromISO: toIsoUtc(a), toISO: toIsoUtc(addDaysInTzUTC(b, 1)), label: 'custom range' };\n  }\n\n  // “op <datum>”\n  m2 = s.match(/\\bop\\s+(.+)$/i);\n  if (m2) {\n    const d0 = parseLooseDateToTzStartUTC(m2[1], now.getFullYear(), TZ);\n    if (d0) return { fromISO: toIsoUtc(d0), toISO: toIsoUtc(addDaysInTzUTC(d0, 1)), label: 'op dag' };\n  }\n\n  return { fromISO: null, toISO: null, label: null };\n}\n\n// --------------------- Auteur & bronkeuze ---------------------\nfunction detectAuthor(q = '') {\n  const s = String(q).trim();\n  const m =\n    s.match(/\\b(?:door|van|auteur)\\s+([A-ZÁÉÍÓÚÄËÏÖÜÀÈÌÒÙ][\\w.'-]+(?:\\s+[A-Z][\\w.'-]+){0,3})\\b/) ||\n    s.match(/\\b([A-ZÁÉÍÓÚÄËÏÖÜÀÈÌÒÙ][\\w.'-]+(?:\\s+[A-Z][\\w.'-]+){0,3})\\s+(?:schreef|publiceerde)\\b/i);\n  return m ? m[1].trim() : null;\n}\n\nfunction wantsNewest(q = '') {\n  return /\\b(meest\\s+recent|recentste|laatste)\\b/i.test(q);\n}\n\nfunction detectSourcePref(q) {\n  const s = (q || '').toLowerCase();\n  const wantsRD = /\\b(rd|reformatorisch\\s+dagblad|reformatorischdagblad|rd\\.nl)\\b/.test(s);\n  const wantsTD = /\\b(td|terdege|terdege\\s+magazine|terdege\\.nl)\\b/.test(s);\n  if (wantsRD && !wantsTD) return 'rd';\n  if (wantsTD && !wantsRD) return 'td';\n  const softRD = /\\b(dagblad|krant)\\b/.test(s);\n  const softTD = /\\b(magazine|terdege-?)\\b/.test(s);\n  if (softRD && !softTD) return 'rd';\n  if (softTD && !softRD) return 'td';\n  return 'both';\n}\n\n// --------------------- Node-uitvoering ---------------------\nconst body = $json.body ?? {};\nconst question = String(body.question ?? '').trim();\nif (!question) throw new Error('question ontbreekt in de request payload.');\n\n// 1) Tijdvenster bepalen\nconst explicitTR = body.timeRange ?? body.daterange ?? body.range ?? null;\nlet { fromISO, toISO, label } = parseTimeRangeNL(explicitTR, question);\n\n// Overrides: body.fromISO / body.toISO (indien meegegeven)\nif (body.fromISO) fromISO = new Date(body.fromISO).toISOString();\nif (body.toISO)   toISO   = new Date(body.toISO).toISOString();\n\n// Corrigeer from>=to → maak minimaal 1 dag venster\nif (fromISO && toISO && new Date(fromISO) >= new Date(toISO)) {\n  const fixTo = addDaysInTzUTC(new Date(fromISO), 1);\n  toISO = toIsoUtc(fixTo);\n}\n\n// 2) “nieuwste/laatste/recentste”\nlet forceNewest = !!body.forceNewest || wantsNewest(question);\n\n// 3) Auteur & bronkeuze\nconst authorHint = detectAuthor(question);\nlet sourcePref = detectSourcePref(question);\n\n// Als er een auteursnaam wordt genoemd → altijd TD gebruiken\nif (authorHint) sourcePref = 'td';\n\nreturn {\n  question,\n  fromISO,\n  toISO,\n  _timeRangeParsed: label,\n  forceNewest,\n  sourcePref,\n  authorHint,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "6fc97840-707c-46d4-a5fc-8f0ae3d4b774",
      "name": "Validate Request"
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        656,
        224
      ],
      "id": "63c7c65c-0102-4484-8063-c3581c8a8644",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "rhdqIQM0lf9JI3JP",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "=🔹 Rol en doel\n\nJe bent **AIRDEE**, de AI-assistent van **Erdee Media Groep (EMG)**.  \nJe helpt lezers en redacteuren door vragen te beantwoorden op basis van artikelen uit de EMG-database.  \nJe kennis komt uitsluitend uit die artikelen — niet uit andere bronnen of het web.  \nVandaag is het {{ $now }}.\n\n\n🔹 Gebruik van de tools\n\nJe beschikt over twee tools om artikelen op te halen:\n\n1. **search_articles** → voor artikelen uit het **Reformatorisch Dagblad (RD)**  \n   - Collectie: `Article`  \n   - Vectorlengte: 3074 (inclusief 2D age-append)\n   - Metadata: `rdId, title, lead, body, publishedAt, link`\n\n2. **search_td_articles** → voor artikelen uit **Terdege (TD)**  \n   - Collectie: `TerdegeArtikel`  \n   - Vectorlengte: 3072 (zonder age-append)\n   - Metadata: `documentId, title, lead, body, publishedAt, author`\n\n\n🔹 Parameters van beide tools\n\n| Parameter | Beschrijving |\n|------------|--------------|\n| `query` | De originele gebruikersvraag (bijv. “Wat schreef RD over onderwijs deze week?”) |\n| `fromISO` | Startdatum van het venster (optioneel, ISO 8601 UTC) |\n| `toISO` | Einddatum van het venster (optioneel, ISO 8601 UTC) |\n| `forceNewest` | `true` als de gebruiker vraagt naar “nieuwste”, “laatste” of “recentste” artikelen |\n\nElke tool retourneert een lijst `results[]` met o.a.:\n\n- `title`, `lead`, `body`,  \n- `publishedAt`,  \n- `link` of `url` (indien aanwezig),  \n- `source` (waarde `\"RD\"` of `\"TD\"`),  \n- en eventueel `in_range`, `distance`, `strict_range`.\n\nDe search_td_articles retourneert daarnaast ook:\n - `author`.\n\n🔹 Werkwijze\n\n1. **Bepaal de gewenste bron**\n   - Als `sourcePref = \"rd\"` → gebruik alleen **search_articles**.  \n   - Als `sourcePref = \"td\"` → gebruik alleen **search_td_articles**.  \n   - Als `sourcePref = \"both\"` of niet gespecificeerd → gebruik **beide tools** en combineer de resultaten.\n\n2. **Zoekresultaten combineren**\n   - Combineer de `results[]` van beide tools tot één lijst.\n   - Dedupliceer grofweg op `title + publishedAt`.\n   - Sorteer primair op relevante score (`distance` of `finalScore`), daarna op `publishedAt` (nieuw → oud).\n\n3. **Beantwoording**\n   - Lees de resultaten en gebruik uitsluitend die artikelen om te antwoorden.\n   - Vermeld per artikel:\n     - de **titel**,  \n     - de **publicatiedatum** (formaat: `dd-mm-yyyy`),  \n     - een **klikbare bronlink** in Markdown: `[titel](link)` (indien beschikbaar),  \n     - en de **bronvermelding** in rechte haken: `[RD]` of `[TD]`.\n\n4. **Tijdsfilters**\n   - Wanneer een tijdsfilter is toegepast (`fromISO` of `toISO`):  \n     gebruik alleen artikelen waarvan `publishedAt` binnen `[fromISO, toISO)` ligt.\n\n5. **Machineleesbaar JSON-blok**\n   - Voeg onderaan het antwoord altijd een JSON-blok toe wanneer een tijdsfilter is gebruikt:\n\n     ```\n     TIME_FILTER_JSON: {\n       \"from\": \"2025-10-14T00:00:00Z\",\n       \"to\": \"2025-10-21T23:59:59Z\",\n       \"field\": \"publishedAt\",\n       \"label\": \"Afgelopen week t/m vandaag\"\n     }\n     ```\n\n6. **Geen resultaten**\n   - Als er geen artikelen zijn binnen de gevraagde periode of bron:\n     > “Er zijn geen artikelen gevonden binnen de opgegeven periode.”\n\n\n🔹 Stijl en toon\n\nSchrijf in vloeiend, helder Nederlands, passend bij de journalistieke stijl van **Reformatorisch Dagblad / EMG**.  \nWees feitelijk, rustig en objectief.  \nVermijd overdrijving, opinie of speculatie.  \nGebruik geen emoji’s, HTML of overbodige opsmuk.  \nGebruik **Markdown-links** voor bronnen.\n\n\n🔹 Samenvatting van je gedrag\n\n- Begrijp de intentie van de vraag en (indien aanwezig) de tijdsperiode.\n- Bepaal de juiste bron (RD, TD of beide).\n- Gebruik de juiste tool(s) op basis van `sourcePref`.\n- Baseer je antwoord uitsluitend op artikelen uit de toolresultaten.\n- Vermeld per artikel de titel, datum, bron en link.\n- Voeg het tijdsfilter-JSON toe als het relevant is.\n- Houd een neutrale, betrouwbare toon die past bij Erdee Media Groep.\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        720,
        0
      ],
      "id": "7060a524-6103-4f94-96b1-9544a9dee26e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1136,
        0
      ],
      "id": "8a51fe71-15a2-4ae1-b843-8fb0c7d905a0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "description": "\"Als een gebruiker een vraag stelt over het RD, embed je deze en haal je de top-K dichtstbijzijnde krantenartikelen op uit Weaviate. Retourneert rang, rdId, titel en afstand.\"",
        "workflowId": {
          "__rl": true,
          "value": "QvH3aoTqLjbaHmBu",
          "mode": "list",
          "cachedResultUrl": "/workflow/QvH3aoTqLjbaHmBu",
          "cachedResultName": "search_articles"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.question }}",
            "fromISO": "={{ $json.fromISO }}",
            "toISO": "={{ $json.toISO }}",
            "forceNewest": "={{ $json.forceNewest }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fromISO",
              "displayName": "fromISO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "toISO",
              "displayName": "toISO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "forceNewest",
              "displayName": "forceNewest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        928,
        224
      ],
      "id": "9e2af029-9c1c-4e01-9348-f2e058b54afd",
      "name": "search_articles"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Code node — Run Once for Each Item\nconst body    = $json.body    ?? {};\nconst headers = $json.headers ?? {};\nconst cookies = $json.cookies ?? {};\n\n// 1) Probeer inkomende waarden\nlet sessionId =\n  body.sessionId ||\n  headers['x-session-id'] ||\n  headers['x-sessionid'] ||\n  cookies.sid ||\n  cookies.session ||\n  null;\n\n// 2) Indien leeg: maak een stabiele fallback (hash van IP+UA+userId/dag)\nif (!sessionId) {\n  const ua = headers['user-agent'] || '';\n  const ip = (headers['x-forwarded-for'] || '').split(',')[0].trim();\n  const userId = body.userId || '';\n  const day = new Date().toISOString().slice(0,10); // optioneel: per dag uniek\n\n  const seed = `${ua}|${ip}|${userId}|${day}`;\n  function cheapHash(s){\n    let h = 0;\n    for (let i = 0; i < s.length; i++) { h = (h << 5) - h + s.charCodeAt(i); h |= 0; }\n    return `sess_${Math.abs(h)}`;\n  }\n  sessionId = cheapHash(seed);\n}\n\nreturn {\n  ...$json,\n  sessionId,        // <— dit veld gaan we gebruiken in de Memory node\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "c9d79762-3c35-4aaa-a142-e10aee353661",
      "name": "Add SessionID"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        224
      ],
      "id": "c385e68e-de92-4f40-b2ac-71e52b4eeb19",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "\"Als een gebruiker een vraag stelt over het Terdege, embed je deze en haal je de top-K dichtstbijzijnde krantenartikelen op uit Weaviate. Retourneert rang, rdId, titel, body, auteur en afstand.\"",
        "workflowId": {
          "__rl": true,
          "value": "R4WjTwkjQfEJ7oRY",
          "mode": "list",
          "cachedResultUrl": "/workflow/R4WjTwkjQfEJ7oRY",
          "cachedResultName": "search_td_articles"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.question }}",
            "fromISO": "={{ $json.fromISO }}",
            "toISO": "={{ $json.toISO }}",
            "forceNewest": "={{ $json.forceNewest }}",
            "authorHint": "={{ $json.authorHint }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fromISO",
              "displayName": "fromISO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "toISO",
              "displayName": "toISO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "forceNewest",
              "displayName": "forceNewest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "authorHint",
              "displayName": "authorHint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1072,
        224
      ],
      "id": "d2ce8377-6f69-4557-a09b-315915edd287",
      "name": "search_td_articles"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat UI webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Add SessionID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_articles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add SessionID": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_td_articles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cda2a3d0-dc20-40cb-bfa8-049ca8e03794",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "971bafcf224e032b5aa7287405a29d8a7b4ec50495a62e2829a5528993ff37ea"
  },
  "id": "DgvoF1oblxyzmpsR",
  "tags": []
}