workflows/n8n_emg_ai_agent.json
{
  "name": "EMG AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emg-ai-agent",
        "responseMode": "onReceived"
      },
      "id": "Webhook",
      "name": "Chat webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "const uuid = $json.articleUuid || $json.uuid;\nif (!uuid) {\n  throw new Error('articleUuid ontbreekt in de request payload.');\n}\nreturn [{ json: { uuid } }];"
      },
      "id": "PrepareUUID",
      "name": "Select article",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "GET",
        "url": "={{$env.WEAVIATE_URL}}/v2/objects/{{$env.WEAVIATE_COLLECTION}}/{{$json.uuid}}",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "id": "WeaviateRequest",
      "name": "Fetch article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "WEAVIATE_API_KEY"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\nconst vector = data?.additional?.vector?.te_3_large ?? [];\nconst trailingMetadata = parseInt($env.WEAVIATE_TRAILING_METADATA || '2', 10);\nconst expectedSize = parseInt($env.WEAVIATE_EXPECTED_VECTOR_SIZE || '0', 10);\nlet cleaned = Array.isArray(vector) ? vector.map(Number) : [];\nif (trailingMetadata > 0 && cleaned.length > trailingMetadata) {\n  cleaned = cleaned.slice(0, cleaned.length - trailingMetadata);\n}\nif (expectedSize > 0 && cleaned.length !== expectedSize && expectedSize !== 0) {\n  throw new Error(`Vector lengte ${cleaned.length} komt niet overeen met verwacht formaat ${expectedSize}.`);\n}\nconst pairedIndex = items[0].pairedItem?.item ?? 0;\nconst sourceItem = $items('Chat webhook', 0, pairedIndex);\nconst question = sourceItem?.json?.question;\nreturn [{ json: {\n  uuid: data?.id,\n  title: data?.properties?.title,\n  body: data?.properties?.body,\n  vector: cleaned,\n  question,\n} }];"
      },
      "id": "NormaliseVector",
      "name": "Normalise vector",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [860, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "invoke",
        "deploymentId": "={{$env.AZURE_OPENAI_DEPLOYMENT}}",
        "messages": [
          {
            "role": "system",
            "content": "Je bent een behulpzame redacteur voor de Erdee Media Groep. Gebruik uitsluitend de meegestuurde bron."
          },
          {
            "role": "user",
            "content": "Vraag: {{$json[\"question\"]}}\n\nContext:\nTitel: {{$json[\"title\"]}}\nInhoud: {{$json[\"body\"]}}"
          }
        ]
      },
      "id": "AzureOpenAI",
      "name": "AI Agent",
      "type": "n8n-nodes-base.azureOpenAi",
      "typeVersion": 1,
      "position": [1100, 300],
      "credentials": {
        "azureOpenAiApi": {
          "id": "AZURE_OPENAI"
        }
      }
    },
    {
      "parameters": {
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "id": "WebhookResponse",
      "name": "Return answer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Chat webhook": {
      "main": [
        [
          {
            "node": "Select article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select article": {
      "main": [
        [
          {
            "node": "Fetch article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch article": {
      "main": [
        [
          {
            "node": "Normalise vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise vector": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Return answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
