workflows/n8n_ai_chatbot.json
{
  "name": "AI Chatbot UI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-chatbot",
        "responseMode": "onReceived"
      },
      "id": "Webhook",
      "name": "Chat UI webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "const question = ($json.question ?? '').toString().trim();\nif (!question) {\n  throw new Error('question ontbreekt in de request payload.');\n}\nreturn [{ json: { question } }];"
      },
      "id": "ValidateInput",
      "name": "Validate request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "functionCode": "const question = ($json.question ?? '').toString();\nconst limit = Math.max(parseInt($env.WEAVIATE_SEARCH_LIMIT || '3', 10), 1);\nconst collection = ($env.WEAVIATE_COLLECTION || '').trim();\nif (!collection) {\n  throw new Error('WEAVIATE_COLLECTION environment variable is niet ingesteld.');\n}\nconst escapedQuestion = question.replace(/\\\\/g, '\\\\').replace(/\"/g, '\\\"');\nconst query = `{\\n  Get {\\n    ${collection}(\\n      limit: ${limit}\\n      bm25: { query: \"${escapedQuestion}\" }\\n    ) {\\n      _additional {\\n        id\\n        score\\n      }\\n      title\\n      body\\n    }\\n  }\\n}`;\nreturn [{ json: { question, collection, graphql: { query } } }];"
      },
      "id": "PrepareSearch",
      "name": "Prepare search",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "response": {
            "responseFormat": "json"
          }
        },
        "url": "={{$env.WEAVIATE_URL}}/v1/graphql",
        "bodyParametersJson": "={{$json.graphql}}"
      },
      "id": "WeaviateRequest",
      "name": "Zoek artikelen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [860, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "WEAVIATE_API_KEY"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const pairedIndex = items[0].pairedItem?.item ?? 0;\nconst searchInput = $items('Prepare search', 0, pairedIndex)?.json || {};\nconst question = searchInput.question;\nconst collection = searchInput.collection;\nconst data = items[0].json?.data?.Get?.[collection] ?? [];\nif (!Array.isArray(data) || data.length === 0) {\n  throw new Error('Geen artikelen gevonden voor deze vraag.');\n}\nconst articles = data.map((entry, index) => {\n  const rawScore = entry?._additional?.score;\n  const score = typeof rawScore === 'number' ? Number(rawScore.toFixed(3)) : rawScore ?? null;\n  return {\n    index: index + 1,\n    uuid: entry?._additional?.id ?? null,\n    title: entry?.title ?? null,\n    body: entry?.body ?? '',\n    score,\n  };\n});\nconst separator = '\\n\\n---\\n\\n';\nconst context = articles\n  .map((article) => {\n    const header = [`Artikel ${article.index}`, article.score ? `(score ${article.score})` : null]\n      .filter(Boolean)\n      .join(' ');\n    const titleLine = `Titel: ${article.title || 'Onbekend'}`;\n    const body = (article.body || '').trim();\n    return `${header}\\n${titleLine}\\nInhoud: ${body}`;\n  })\n  .join(separator);\nreturn [{ json: { question, context, articles } }];"
      },
      "id": "PrepareContext",
      "name": "Prepare context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "invoke",
        "deploymentId": "={{$env.AZURE_OPENAI_DEPLOYMENT}}",
        "messages": [
          {
            "role": "system",
            "content": "Je bent een behulpzame redacteur voor de Erdee Media Groep. Gebruik uitsluitend de meegestuurde bron."
          },
          {
            "role": "user",
            "content": "Vraag van de gebruiker:\n{{$json[\"question\"]}}\n\nBeschikbare artikelen:\n{{$json[\"context\"]}}\n\nVat de relevante informatie samen tot een duidelijk antwoord en verwijs alleen naar de genoemde artikelen."
          }
        ]
      },
      "id": "AzureOpenAI",
      "name": "AI Agent",
      "type": "n8n-nodes-base.azureOpenAi",
      "typeVersion": 1,
      "position": [1320, 300],
      "credentials": {
        "azureOpenAiApi": {
          "id": "AZURE_OPENAI"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const item = items[0].json ?? {};\nconst pairedIndex = items[0].pairedItem?.item ?? 0;\nconst contextItem = $items('Prepare context', 0, pairedIndex)?.json ?? {};\nconst question = contextItem.question ?? '';\nconst articles = Array.isArray(contextItem.articles)\n  ? contextItem.articles.map(({ uuid, title, score }, index) => ({\n      index: index + 1,\n      uuid,\n      title,\n      score,\n    }))\n  : [];\nlet answer = '';\nif (Array.isArray(item.choices) && item.choices.length > 0) {\n  const message = item.choices[0]?.message;\n  if (message && typeof message.content === 'string') {\n    answer = message.content.trim();\n  }\n}\nif (!answer && typeof item.answer === 'string') {\n  answer = item.answer.trim();\n}\nreturn [{ json: {\n  question,\n  answer,\n  sources: articles,\n  model: item.model ?? null,\n  usage: item.usage ?? null\n} }];"
      },
      "id": "FormatResponse",
      "name": "Format response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "id": "WebhookResponse",
      "name": "Return answer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1800, 300]
    }
  ],
  "connections": {
    "Chat UI webhook": {
      "main": [
        [
          {
            "node": "Validate request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate request": {
      "main": [
        [
          {
            "node": "Prepare search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare search": {
      "main": [
        [
          {
            "node": "Zoek artikelen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoek artikelen": {
      "main": [
        [
          {
            "node": "Prepare context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format response": {
      "main": [
        [
          {
            "node": "Return answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
