workflows/Sub workflow.json
{
  "name": "Sub workflow",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "fromISO"
            },
            {
              "name": "toISO"
            },
            {
              "name": "forceNewest"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e6162dd5-c519-4b04-a4d8-69ac7ee70c42",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://welz4ghqqeynlanof5qemg.c0.europe-west3.gcp.weaviate.cloud/v1/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ (() => {\n  // ------- inputs uit subflow -------\n  const forceNewest = $json.forceNewest === true || String($json.forceNewest).toLowerCase() === 'true';\n  const fromISO = $json.fromISO || null;\n  const toISO   = $json.toISO   || null;\n\n  // ------- where opbouwen (mag ook bij forceNewest) -------\n  const ops = [];\n  if (fromISO) ops.push(`{ path: [\"publishedAt\"], operator: GreaterThanEqual, valueDate: \"${fromISO}\" }`);\n  if (toISO)   ops.push(`{ path: [\"publishedAt\"], operator: LessThan,        valueDate: \"${toISO}\" }`);\n  const where = ops.length ? `\n    where: {\n      operator: And\n      operands: [ ${ops.join(', ')} ]\n    }` : '';\n\n  // ------- pure \"nieuwste\" modus: géén nearVector -------\n  if (forceNewest) {\n    return `\n    {\n      Get {\n        Article(\n          ${where}\n          sort: [{ path: [\"publishedAt\"], order: desc }]\n          limit: 1\n        ) {\n          rdId\n          publishedAt\n          title\n          lead\n          body\n          _additional { id distance }\n        }\n      }\n    }`;\n  }\n\n  // ------- normale semantische modus (nearVector + sort als tie-breaker) -------\n  const raw = Array.isArray($json.vector) ? $json.vector : [];\n  const vecArr = raw.filter(v => Number.isFinite(Number(v)));\n  if (!vecArr.length) { throw new Error('Vector ontbreekt of is leeg.'); }\n  const vector = vecArr.map(v => Number(v).toFixed(8)).join(',');\n\n  const topK = Number($json.topK ?? 3);\n\n  return `\n  {\n    Get {\n      Article(\n        nearVector: { vector: [${vector}], targetVectors: [\"te_3_large\"] }\n        ${where}\n        sort: [{ path: [\"publishedAt\"], order: desc }]\n        limit: ${topK}\n      ) {\n        rdId\n        publishedAt\n        title\n        lead\n        body\n        _additional { id distance }\n      }\n    }\n  }`;\n})() }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "10ddf51e-aee1-42a3-b368-d36c10cc81df",
      "name": "Weaviate Search",
      "credentials": {
        "httpBearerAuth": {
          "id": "RJFpp0Wn31lAz0zR",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// --- Format Output met afstandsdrempel ---\nconst raw = $json?.data?.Get?.Article ?? [];\nif (!Array.isArray(raw) || !raw.length) {\n  return { results: [], note: 'Geen artikelen gevonden' };\n}\n\n// Drempel instellen (lager = strenger)\nconst THRESH = 0.7;\n\n// Filter op afstand (distance < THRESH = relevanter)\n// let op: Weaviate's \"distance\" is 0 = exact match, 1 = ver weg.\nconst filtered = raw.filter(o => (o._additional?.distance ?? 1) < THRESH);\n\n// Als alles erbuiten valt, gebruik dan toch de originele lijst (fallback)\nconst used = filtered.length ? filtered : raw;\n\n// Sorteer eventueel nog extra op publicatiedatum (nieuwste eerst)\nused.sort((a, b) => (new Date(b.publishedAt).getTime() || 0) - (new Date(a.publishedAt).getTime() || 0));\n\n\nconst results = used.map(o => ({\n  id: o.rdId,\n  title: o.title,\n  publishedAt: o.publishedAt,\n  lead: o.lead,\n  distance: o._additional?.distance ?? null,\n  body: o.body,\n}));\n\nreturn {\n  results,\n  count: results.length,\n  distance_threshold: THRESH,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "c39ab188-a45e-47b7-bd8f-65eef42474e9",
      "name": "Format Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://azureopenaiemg.openai.azure.com/openai/deployments/EMG_text-embedding-3-large/embeddings?api-version=2023-05-15",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "azureOpenAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ ( $json.query ?? '' ).replace(/\\n/g,' ') }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "571ca1d7-bd76-452c-9f18-1654b1e7c901",
      "name": "Azure HTTP Request",
      "credentials": {
        "azureOpenAiApi": {
          "id": "Utv9lWu6uFRSz7FH",
          "name": "Azure Open AI account embedding"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// publication-date encoding — Run Once for Each Item\n\nfunction getAgeVector(publishedAtISO, ageWeight = 1.0) {\n  const oneDayMs = 86_400_000;\n  const referenceDate = new Date(Date.UTC(2023, 7, 10)); // 10 Aug 2023 UTC\n\n  const publishedAt = new Date(publishedAtISO);\n  if (isNaN(publishedAt.getTime())) return { vec: [0.0, 0.0], anchorUsed: null };\n\n  const halfSpanDays = 5 * 365;\n  const minDate = new Date(referenceDate.getTime() - halfSpanDays * oneDayMs);\n  const maxDate = new Date(referenceDate.getTime() + halfSpanDays * oneDayMs);\n\n  const matchDate = publishedAt;\n  if (matchDate < minDate) return { vec: [0.0, -1.0], anchorUsed: matchDate.toISOString() };\n  if (matchDate > maxDate) return { vec: [0.0,  1.0], anchorUsed: matchDate.toISOString() };\n\n  const diffDaysInt = Math.floor((matchDate.getTime() - referenceDate.getTime()) / oneDayMs);\n  const theta = (diffDaysInt * Math.PI) / (10 * 365);\n\n  const w = Number(ageWeight);\n  const x = Number(Math.cos(theta).toFixed(8)) * w;\n  const y = Number(Math.sin(theta).toFixed(8)) * w;\n\n  return { vec: [x, y], anchorUsed: matchDate.toISOString() };\n}\n\nfunction pickAnchorISO(fromISO, toISO) {\n  const oneDayMs = 86_400_000;\n  const from = fromISO ? new Date(fromISO) : null;\n  const to   = toISO   ? new Date(toISO)   : null;\n\n  if (from && !isNaN(from) && to && !isNaN(to)) {\n    return new Date((from.getTime() + to.getTime()) / 2).toISOString(); // midden\n  }\n  if (to && !isNaN(to)) {\n    return new Date(to.getTime() - oneDayMs).toISOString();             // to - 1 dag (exclusief)\n  }\n  return new Date().toISOString();                                       // fallback: nu\n}\n\nconst baseVector = Array.isArray($json.vector) ? $json.vector : [];\nconst useAge     = ($json.use_age ?? true) === true;\nconst ageWeight  = Number($json.age_weight ?? 2.0);\n\nconst fromISO = $json.fromISO ?? null;\nconst toISO   = $json.toISO   ?? null;\n\nconst anchorISO = pickAnchorISO(fromISO, toISO);\nconst age = useAge ? getAgeVector(anchorISO, ageWeight) : { vec: [0.0, 0.0], anchorUsed: null };\n\nconst finalVector = baseVector.concat(age.vec);\n\nreturn {\n  vector: finalVector,\n  topK: Number($json.topK ?? 3),\n  age_anchor_used: age.anchorUsed ?? anchorISO,\n  age_weight_used: ageWeight,\n  _debug: { fromISO, toISO, anchorISO, baseLen: baseVector.length, finalLen: finalVector.length }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "c3e11541-3c1d-4141-a6b1-f318540ee8f0",
      "name": "publication-date encoding"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "823645ce-3e4c-46a2-8681-f6a498e150d3",
              "name": "vector",
              "value": "={{$json.data[0].embedding}}",
              "type": "array"
            },
            {
              "id": "13c20a2f-d40b-47c5-a044-6aef4dccb4e1",
              "name": "topK",
              "value": "=3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "e6320cc5-7220-4ee2-9e4d-9a7445dd68a9",
      "name": "Pick Vector"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Azure HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weaviate Search": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure HTTP Request": {
      "main": [
        [
          {
            "node": "Pick Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "publication-date encoding": {
      "main": [
        [
          {
            "node": "Weaviate Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Vector": {
      "main": [
        [
          {
            "node": "publication-date encoding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0eedee6c-e60b-4175-8265-580c4f7d90b2",
  "meta": {
    "instanceId": "3d6c34d8f4384ca25fa01e0f923a6457166bf650c040640922e8f719be8d8641"
  },
  "id": "13IhSMkzb9YUf0PP",
  "tags": []
}